
@{
    ViewBag.Title = "Connect";
}

<h2>Connect</h2>

<div class="panel-group" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup" aria-expanded="false" aria-controls="collapseListGroup">
                    Let's Connect
                </a>
            </h4>
        </div>
        <div id="collapseListGroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading" aria-expanded="false" style="height: 0px;">
            <div class="well">

                    <form method="post" action="/Database/CheckConnect" novalidate="novalidate">
                        <div class="form-group" id="ConnectionStrings" name="ConnectionStrings">
                            @using (Html.BeginForm())
                            {
                                @:uid： @Html.TextBox("uid", "", new { @class = "font-weight-bold", style = "font-size:15px;border-radius:10px;" });
                                @:pwd： @Html.TextBox("pwd", "", new { @class = "font-weight-bold", style = "font-size:15px;border-radius:10px;" });
                                @:database： @Html.TextBox("database", "", new { @class = "font-weight-bold", style = "font-size:15px;border-radius:10px;" });
                                @:server： @Html.TextBox("server", "", new { @class = "font-weight-bold", style = "font-size:15px;border-radius:10px;" });
                            <button type="submit" class="btn btn-default">確認</button>
                            }
                        </div>
                        
                        <button style=" background-color: lightgray;" type="button" class="btn" onclick="ConnectionString()">自動填寫ConnectionString</button>
                        <select id="connect" title="請選擇" class="btn btn-primary" >
                            <option value="0">Robert(自己)</option>
                            <option value="1">Link</option>
                            <option value="2">Charles(周大哥)</option>
                            <option value="3">JasonChen(昱瑋)</option>
                        </select>
                    </form>

                </div>
        </div>
    </div>
</div>

@*============================================下半部===========================================*@
<div class="container body-content">
    <h2>Index</h2>
    <hr>
    <br>
    <ul>
        <li>
            <strong>工具介紹</strong>
            <p>SchemaNote（以下簡稱本平台）是用來檢視、編輯SQL Server上自定義註記之Web平台</p>
            <br>
        </li>
        <li>
            <strong>原理說明</strong>
            <p>本平台註記原理在於利用資料庫物件的<mark title="Extended Property"><a title="前往擴充屬性官方說明" href="https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/extended-properties-catalog-views-sys-extended-properties">擴充屬性</a></mark></p>
            <br>
        </li>
        <li>
            <strong>注意事項</strong>
            <ul>
                <li>建議使用SQL Server版本2008(含)以上，版本2005以下可使用另一套開源工具<a title="前往DDC官方說明" href="https://archive.codeplex.com/?p=datadictionary">DDC</a></li>
                <li>本平台僅異動擴充屬性，不能控制其他資料庫物件、結構</li>
                <li>目前只支援資料表(Table)、檢視表(View)這兩種物件</li>
                <li>目前尚未支援SSL的版本，連線字串傳送過程亦無受到保護，請於受保護的網路環境（e.g. 安全內網環境）使用</li>
            </ul>
        </li>
    </ul>
    <hr>
    <footer>
        <p>© 2019 - SchemaNote (Version: 0.1.3)</p>
    </footer>
</div>

<script>
    var select = document.getElementById("connect");
    select.addEventListener("change", change);

    function ConnectionString() {
        $("#uid").val("sa");
        $("#pwd").val("1234");
        $("#database").val("TestRepo");
        $("#server").val("192.168.203.101");
    }
    
    function change() {
        var optValue = select.value;
        console.log(optValue);
        if (optValue == 0) {
            $("#uid").val("sa");
            $("#pwd").val("1234");
            $("#database").val("TestRepo");
            $("#server").val("192.168.203.101");
        }
        else if (optValue == 1) {
            $("#uid").val("sa");
            $("#pwd").val("1111");
            $("#database").val("TestRepo");
            $("#server").val("192.168.221.33");
        }
        else if (optValue == 2) {
            $("#uid").val("sa");
            $("#pwd").val("1234");
            $("#database").val("TestRepo");
            $("#server").val("192.168.203.170");
        }
        else if (optValue == 3) {
            $("#uid").val("sa");
            $("#pwd").val("1234");
            $("#database").val("TestRepo");
            $("#server").val("192.168.203.154");
        }
    }

</script>