
@{
    ViewBag.Title = "Connection";
}

<h2>Connection</h2>

<div class="panel-group" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading">
            <h4 class="panel-title">
                <a class="" role="button" data-toggle="collapse" href="#collapseListGroup" aria-expanded="true" aria-controls="collapseListGroup">
                    Let's Connect
                </a>
            </h4>
        </div>
        <div id="collapseListGroup" class="panel-collapse collapse " role="tabpanel" aria-labelledby="collapseListGroupHeading" aria-expanded="false" style="">
            <div class="well">
                <form method="post" action="/Home/BackConnection" novalidate="novalidate">
                    <div class="form-group">
                        <label class="control-label" for="ConnectionString">Connection String</label>
                        <input class="form-control" type="text" data-val="true" data-val-required="The Connection String field is required." id="ConnectionStrings" name="ConnectionStrings" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="ConnectionStrings" data-valmsg-replace="true"></span>
                    </div>
                    <button type="submit" class="btn btn-default">確認</button>
                    <button style="color: darkgray; background-color: lightgray;" type="button" class="btn" onclick="$('#ConnectionStrings').val('Server=.;Database=AdventureWorks;Trusted_Connection=True')">自動填寫ConnectionString</button>
                    <button style="color: transparent; background-color: transparent;" type="button" class="btn" onclick="$('#ConnectionStrings').val('Server=linkliu.hopto.org;Initial Catalog=AdventureWorks;User ID=sa;Password=1234')">自動填寫ConnectionString</button>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Fa3A4DBxnNJj1MDsCOcDshmH7wGhyOklD68tbKWMyoSEjtjDnCMlq5RY5YtSFUjaY9QkItXOrxBuOKX8UOA8xlgT9aorevhjFTxAwgKhxblWG54_YTZsB6VgxnsnPCLGvML1ThMLB_yvb9bLc1n1AQ">
                </form>
            </div>
        </div>
    </div>
</div>
@*=======================================第二部分==================================*@
